<p>Buen dia</p>
<p>Solicitar su ayuda para la correcci&oacute;n de la ruta ${body["NombreServicio"]}. Los detalles del error se encuentran
    especificados a continuaci&oacuote;n.
    agradecemos su ayuda lo mas pronto posible:
</p>
<p>
    <p>Nombre del Servicio: ${body["NombreServicio"]}</p>
    <p>Tipo de Servicio: ${body["TipoServicio"]}</p>
    <p>Descripci&oacute;n Error: ${body["DescripcionError"]}</p>
</p>
Quedamos a la espera de su pronta ayuda,
<p>Saludos</p>
<p>Equipo Avianca E.volution (RH - SAP)</p>